.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px 20px 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

.screan-header__dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--yellow);
  border-radius: 50%;
  right: 21px;
  top: 35px;
}
